<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/head'); %>
  </head>

  <body class="container">
    <header><%- include('../template/nav'); %></header>

    <main>
      <div class="container-fluid">
        <h3>Habitat</h3>
        <p><%= noteContents.habitat %></p>
        <h3>Date</h3>
        <p><%= noteContents.date %></p>
        <h3>Appearance</h3>
        <p><%= noteContents.appearance %></p>
        <h3>Behavior</h3>
        <p><%= noteContents.bahavior %></p>
        <h3>Vocalisation</h3>
        <p><%= noteContents.vocalisation %></p>
        <h3>Flock Size</h3>
        <p><%= noteContents.flock_size %></p>
        <a
          href="/note/edit/<%= noteContents.id%>"
          class="btn btn-success btn-block"
          >Click Here to Edit Note</a
        >
      </div>
    </main>

    <footer><%- include('../template/footer'); %></footer>
  </body>
</html>
