<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../template/nav'); %>
  </header>

  
    </div>
    <div class="container-fluid" id="sighting-content">

      <div class="table-responsive">
        <table class="table table-hover">

          <tr class="bg-success">
            <th>Habitat</th>
            <th>Date</th>
            <th>Appearance</th>
            <th>Behavior</th>
            <th>Vocalisation</th>
            <th>Flock Size</th>
            <th>Delete</th>
          </tr>
          <% allNotes.forEach((el)=> { %>
            <tr class="clickable" onclick="window.location='/note/<%= el.id %>'">
              <td>
                <%= el.habitat %>
              </td>
              <td>
                <%= el.date %>
              </td>
              <td>
                <%= el.appearance %>
              </td>
              <td>
                <%= el.behavior %>
              </td>
              <td>
                <%= el.vocalisation %>
              </td>
              <td>
                <%= el.flock_size %>
              </td>
              <td>
                <form action="/note/delete/<%= el.id %>?_method=DELETE" method="POST">
                  <input class="btn btn-danger btn-sm" type="submit" value="Delete" />
                </form>
              </td>
            </tr>
            <% }) %>
        </table>
      </div>
  </main>


  <footer>
    <%- include('../template/footer'); %>
  </footer>
</body>

</html>